<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/style1.css" />
  </head>
  <body>
    <div class="error-container">
      <h1>Error</h1>
      <p><%= message %></p>
      <a href="/admin">Back to Admin Panel</a>
    </div>
  </body>
</html>
